extends ../layout

block content
    header.masthead
        br
        br
        br

        h1 Nueva Bicicleta

        br
        br
        .row.justify-content-center.no-gutters.mb-5.mb-lg-0
            .card.py-4.h-100
                .card-body.text-center
                    form(action='/bicicletas/create' method='post')
                        label(form='id') ID:
                        input#id(type='text' name='id')
                        br
                        label(for='color') Color:
                        input#id(type='text' name='color')
                        br
                        label(for='modelo') Modelo:
                        input#id(type='text' name='modelo')
                        br
                        label(for='latitud') latitud:
                        input#id(type='text' name='lat')
                        br
                        label(for='longitud') Longitud:
                        input#id(type='text' name='lng')
                        br
                        br
                        .row
                            .col-6
                                a.btn.btn-primary.mx-auto(href = '/bicicletas') Cancelar
                            .col-6
                                input.btn.btn-primary.mx-auto(type='submit' value='OK')