extends ../layout

block content
    header.masthead
        br
        br
        br
        .row.justify-content-center.no-gutters
            .col-lg-4
                #main_map
            .col-lg-8.order-lg-first
                a.btn.btn-primary.mx-auto(href='/bicicletas/create') Nueva Bicicleta
                .bg-black
                    .container
                        .text-center.h-100.project
                        table.table
                            tr.text-white.mb-5
                                th(scope = 'col') #
                                th(scope = 'col') Color
                                th(scope = 'col') Modelo
                                th(scope = 'col') Ubicacion
                                th(scope = 'col')
                                th(scope = 'col')
                            tbody.text-white.mb-5
                                each bici in bicis
                                    tr
                                        th(scope='row')=bici.id
                                        td=bici.color
                                        td=bici.modelo
                                        td=bici.ubicacion
                                        td
                                            a.btn.btn-primary.mx-auto(href='bicicletas/' + bici.id + '/update') Editar
                                        td                        
                                            form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                                                input(type='hidden' name='id' value=bici.id)
                                                button.btn.btn-primary.mx-auto(type='submit' name='submit_param' value='submit_value' class='btn') 
                                                    = 'Eliminar'
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    script(src='/javascripts/maps.js')
    script(src='/javascripts/scripts.js')
