extends ../layout

block content
    header.masthead
        br
        br
        br

        h1 Editar Bicicleta

        br
        br
        .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                .card.py-4.h-100
                    .card-body.text-center
                        form(action=`/bicicletas/${bici.id}/update` method='post')
                            label(form='id') ID:
                            input#id(type='text' name='id' value=bici.id)
                            br
                            label(for='color') Color:
                            input#id(type='text' name='color' value=bici.color)
                            br
                            label(for='modelo') Modelo:
                            input#id(type='text' name='modelo' value=bici.modelo)
                            br
                            label(for='latitud') latitud:
                            input#id(type='text' name='lat' value=bici.ubicacion[0])
                            br
                            label(for='longitud') Longitud:
                            input#id(type='text' name='lng' value=bici.ubicacion[1])
                            br
                            br
                            .row
                                .col-6
                                    a.btn.btn-primary.mx-auto(href = '/bicicletas') Cancelar
                                .col-6
                                    input.btn.btn-primary.mx-auto(type='submit' value='OK')